:root {
  --col: #ed4f4f;
  --colText: #85ce81;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  overflow-x: hidden;
  font-family: "Pacifico", sans-serif;
}

* {
  box-sizing: border-box;
}

.right {
  text-align: right;
}

.red {
  color: #ed4f4f;
}

.green {
  color: #85ce81;
}

.blue {
  color: #335fde;
}

.white {
  color: white;
}

.marginbottom {
  margin-bottom: 20px;
}

.padding50 {
  padding-top: 50%;
}

.fz28 {
  font-size: 28px;
}

.fw-bold {
  font-weight: bold;
}

._shadow {
  box-shadow: 10px 10px 4px #cacfd0;
}

.height-100 {
  height: 100dvh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.wrapperScroll {
  height: 100dvh;
  overflow-y: auto;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.scrollSnap {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

/*---------------------------------------
  BUTTONS               
-----------------------------------------*/

.section-btn {
  margin: 32px 0 0 0;
  padding: 0;
}

.section-btn a,
.section-btn button {
  line-height: 45px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  color: #ffffff;
  font-weight: normal;
}

.section-btn a span,
.section-btn button span {
  position: relative;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.5px;
  padding: 0 25px;
  background: #4dc47d;
  border-radius: 1px;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.section-btn a span::before,
.section-btn button span::before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  border-radius: 1px;
  color: #ffffff;
  padding: 0 25px;
  content: attr(data-hover);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.section-btn a:hover span,
.section-btn a:focus span,
.section-btn button:hover span,
.section-btn button:focus span {
  -webkit-transform: rotateX(90deg) translateY(-22px);
  -moz-transform: rotateX(90deg) translateY(-22px);
  transform: rotateX(90deg) translateY(-22px);
}

.section-btn a:hover span::before,
.section-btn a:focus span::before,
.section-btn button:hover span::before,
.section-btn button:hover span::before {
  background: #000000;
}

/*________________________________*/
h1 {
  color: #ed4f4f;
  text-align: center;
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0;
}

.text {
  font-size: 30px;
  color: #f5ed0e;
  text-align: center;
}

p {
  font-size: 20px;
}

.borrad {
  border-radius: 3%;
}

.margin70 {
  margin-top: 70px;
}

.padding70 {
  padding-top: 5%;
  padding-bottom: 5%;
}

.padingTop20 {
  padding-top: 20%;
}

/*-------------lang----------------*/
input {
  display: none;
}

label {
  position: fixed;
  top: 28px;
  right: 22px;
  opacity: 0.4;
}
/*
.lang {
  right: 35px;
  top: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 3;
}

.Z {
  position: fixed;
  right: 44px;
  top: 8px;
  width: 35px;
  height: 35px;
}

.R {
  opacity: 0.5;
}

.U,
.E {
  opacity: 0;
}

.flag {
  opacity: 0;
}

.rus_flag {
  right: 100px;
}

.eng_flag {
  right: 65px;
}

.ukr_flag {
  right: 30px;
}

#lang:checked ~ .flag {
  opacity: 0.4;
}
*/
.en {
  display: none;
}

.ua {
  display: none;
}

/*#ingl:checked~* .en {
    display: block;
}

#ingl:checked~* .ru {
    display: none;
}*/

#ingl:checked ~ * .en {
  display: block;
}
#ingl:checked ~ * .ru,
.ua {
  display: none;
}
#ingl:checked ~ .ukr_flag {
  opacity: 0;
  z-index: 10;
}

#ingl:checked ~ .rus_flag {
  opacity: 0;
  z-index: auto;
}
#ingl:checked ~ .eng_flag {
  opacity: 0.4;
  z-index: auto;
}

#ukra:checked ~ * .ua {
  display: block;
}
#ukra:checked ~ * .ru,
.en {
  display: none;
}

#ukra:checked ~ .ukr_flag {
  opacity: 0.4;
  z-index: auto;
}

#ukra:checked ~ .eng_flag {
  opacity: 0;
  z-index: auto;
}
#ukra:checked ~ .rus_flag {
  opacity: 0;
  z-index: 10;
}
#russ:checked ~ .eng_flag {
  opacity: 0;
  z-index: 10;
}
#russ:checked ~ .rus_flag {
  opacity: 0.4;
  z-index: auto;
}
#russ:checked ~ .ukr_flag {
  opacity: 0;
  z-index: auto;
}

/*------------HEADER----------*/
.header {
  width: 100wv;
  height: 40px;
  position: fixed;
  z-index: 2;
}

.menu {
  padding: 5px;
  background-color: #f7f156;
  list-style-type: none;
  transition: all 0.9s ease;
  transform-origin: 0% 0%;
}

.menu a {
  color: var(--col);
  text-decoration: none;
  padding: 3px 15px 3px 0;
}

.menu a:hover {
  color: #e71ee0;
  background-color: #f5d129;
}
.active-item {
  background-color: #f5d129;
}
.menu-toggle {
  display: block;
  float: left;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  position: relative;
}

.gamburger,
.gamburger::before,
.gamburger::after {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 4px;
  background-color: var(--col);
}

.gamburger::before,
.gamburger::after {
  content: "";
}

.gamburger::before {
  /*transform: translateY(-9px);*/
  top: -7px;
}

.gamburger::after {
  /*transform: translateY(5px);*/
  top: 7px;
}

.active span {
  height: 0;
}

.active span::before {
  top: 0;
  transform: rotate(45deg);
}

.active span::after {
  top: 0;
  transform: rotate(-45deg);
}

.menu-toggle:hover {
  color: var(--col);
}

.hide {
  transform: scale(0);
}

/*----------------Соломийка родилась----*/
.newborn {
/*   background: #f2f1f1 url(../img/detskiy-fon2.jpg) fixed left / cover; */
  position: relative;
}
.newborn:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* background: url(background.png) 0 0 repeat; */
  background: #e6e3da url(../img/detskiy-fon-dlya-prezentacii-1.jpg) left /cover;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.newmia {
  opacity: 0;
  width:86%;
}

.mia-anim {
  animation-name: opas;
  animation-duration: 1s;
  opacity: 1;
}

@keyframes opas {
  from {
    scale: 40%;
  }
  to {
    scale: 100%;
  }
}

/*___________---папа---мама----________*/

.mather_father {
  background: #e6e3da url(../img/detskiy-fon-dlya-prezentacii-1.jpg) right /
    cover;
}

/*-----------------------photo--------------*/
.photo {
  background: url(../img/depositphotos.jpg) no-repeat center/cover;
}

/*------------------------VIDEO----------------*/
.video {
  min-height: 100%;
  background: #8179e8 url(../img/vid.jpg) fixed center / cover;
}
.video_item {
  margin: 10px 0;
  position: relative;
}

.video_title {
  color: #fff;
  position: absolute;
  z-index: 1;
  left: 20%;
  top: 4%;
  opacity: 1;
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 0.5s;
}

.video_item:hover .video_title {
  opacity: 0.4;
}

/* ---------lazy--------*/

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}
.youtubImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videoYoutbe {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* Высота: соотношение 16:9 */
}
.videoYoutbe iframe{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.own{
  width: 100%;
}

/*________________песенки---------------*/
.muzon {
  min-height: 100%;
  background: #5b52da url(../img/fon_muzon.avif) fixed center / cover;
}

.muzon-item h2 {
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

/*_______________мультики_______________________*/
.multic {
  background: #ca7777 url(../img/fonMulta.jpg) fixed center center/cover; 
}

.multik-item {
  position: relative;
  margin: 20px 0;
}
.multik-item h4 {
  text-align: center;
  margin-bottom: 10px;
  color: #ed4f4f;
}
/*___________________________________
---------------CONTACT---------------*/
.contact {
  background: #165880 url(../img/AdventureProof_Duo_800px_498px.gif) fixed
    center center/cover;
  height: 100vh;
  padding-bottom: 30px;
}

#contact-form {
  padding-top: 22px;
}

#contact .text-success,
#contact .text-danger {
  display: none;
  padding: 0 0 5px 20px;
}

#contact .form-control {
  border: none;
  box-shadow: none;
  font-size: 18px;
  font-weight: normal;
  background-color: #f9f8c2;
  margin-bottom: 22px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

#contact .form-control:focus {
  border-color: #d9d9d9;
}

#contact input,
textarea {
  height: 55px;
  line-height: 45px;
  background-color: #e2fb9f;
  font-family: arial;
  opacity: 0.8;
}

#contact input:hover,
textarea:hover {
  opacity: 1;
}

#contact .section-btn {
  margin: 5px 0 0 0;
}

#contact button#cf-submit {
  background: transparent;
  border: none;
  padding: 0;
  line-height: 50px;
}

/*--------parents-------*/

.parents {
  background-color: #a3f2ef;
  min-height: 100dvh;
}

.footer__item {
  padding-bottom: 70px;
}

.footer__item h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #335fde;
  opacity: 0;
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
}

.par {
  border-radius: 50%;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  display: block;
  margin: 0 auto;
}

.footer__item:hover .par {
  transform: scale(1.2);
  border: #335fde solid;
}

.footer__item:hover h2 {
  opacity: 1;
}

.par {
  border-radius: 50%;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  display: block;
  margin: 0 auto;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.soc {
  margin-top: 20px;
}

.social-icon {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.social-icon li a {
  color: #6383a7;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 50%;
  text-decoration: none;
  background-color: #fff;
}

.social-icon a img{
  width: 24px;
  height: 24px;
align-self: center;
filter: invert(34%) sepia(43%) saturate(2973%) hue-rotate(229deg) brightness(90%) contrast(93%);
}

.social-icon li a:hover {
  line-height: 55px;
  border: solid #6259df;
}

.arrow {
  position: absolute;
  right: 50px;
  bottom: 50px;
  width: 100px;
  height: 100px;
  /*line-height: 100px;*/
  font-size: 40px;
  /*display: none;*/
}

.arrow:hover {
  background: #fff;
  color: #191919;
  line-height: 100px;
  text-align: center;
  border: solid #44c2d1;
}

.scroll-to-top {
  position: fixed;
  right: 20px;
  bottom: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: var(--col);
  /*background: rgba(52, 58, 64, 0.5);*/
  line-height: 50px;
  display: block;
  /*visibility: hidden;*/
}

.scroll-to-top:hover {
  background-color: #f7f156;
  color: red;
}

.show {
  /*visibility: visible;*/
  display: none;
}

/*------------------------------------*/
@media screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  .menu {
    margin-right: 5%;
    position: absolute;
    flex-direction: column;
    left: 0;
    top: 47px;
    text-align: right;
    padding: 10px;
    transform-origin: 0% 0%;
  }
}
@media (orientation: portrait) and (min-width: 600px) {
  .row-portrait {
    flex-direction: column;
  }
  .col-sm-6 {
    min-width: 100%;
    height: 50%;
  }
}
